doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .container
    div(class="notification is-primary")
    This container is strong(centerd) on desktop and larger viewports.
